# Salidas generadas
_build/*.docx
_build/*.pdf
_build/*.html

# Temporales
*.tmp
*.bak
~$*
.DS_Store
Thumbs.db

# Python temporal
__pycache__/
*.pyc
.venv/
docs_convierte/

# Archivos externos o rutas accidentales
*Mis\ Documentos*archivos_zip/
